/* ---- ---- ---- VARIABLE ---- ---- ----*/
:root {
  --color-primario: rgb(33, 150, 243);
  --color-rectangle: rgb(47, 48, 58);
}
/* ---- ---- ---- LISTAS SIN PUNTOS ---- ---- ----*/
ul {
  list-style-type: none;
}
/* ---- ---- ---- HEADER ---- ---- ----*/

a.link-header {
  color: var(--color-primario);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-align: right;
  letter-spacing: 0.03em;
  text-decoration: none;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.studio {
  color: black;
  text-decoration: none;
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.studio:hover {
  color: var(--color-primario);
}
.studio:active {
  color: var(--color-primario);
}

.portfolio {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: absolute;
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
}
.portfolio:hover {
  color: var(--color-primario);
}
.portfolio:active {
  color: var(--color-primario);
}
.contact {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: absolute;
  width: 67px;
  height: 16px;
  left: 667px;
  top: 32px;
}
.contact:hover {
  color: var(--color-primario);
}
.contact:active {
  color: var(--color-primario);
}

.email {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  text-decoration: none;
}
.email:hover {
  color: var(--color-primario);
}
.email:active {
  color: var(--color-primario);
}

.number {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;
}
.number:hover {
  color: var(--color-primario);
}
.number:active {
  color: var(--color-primario);
}

/* ---- ---- ---- MAIN ---- ---- ----*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: black;
}
.title {
  color: black;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;
}
/* ---- ---- ---- BOTON ---- ---- ----*/
.btn {
  color: #ffffff;
  background: var(--color-primario);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--color-primario);
  width: 197px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;
}
/* ---- ---- ---- TEXTOS ---- ---- ----*/
.subtitle-one {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 775px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle-two {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 775px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle-three {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 775px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subtitle-four {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 775px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.par-one {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 801px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.par-two {
  position: absolute;
  width: 270px;
  height: 96px;
  left: 515px;
  top: 801px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.par-three {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 801px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.par-four {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 801px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
/* ---- ---- ---- IMAGES ---- ---- ----*/
.sub-one {
  text-align: center;
  font-size: 36px;
  color: #212121;
  margin-top: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.container .card-one {
  width: 373.16px;
  height: 323.7px;
  overflow: hidden;
  margin: 15px;
  text-align: center;
}
/* ---- ---- ---- EQUUIPO DE TRABAJO ---- ---- ----*/

.container .cards {
  width: 270px;
  height: 368px;
  overflow: hidden;
  margin: 15px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.sub-two {
  text-align: center;
  font-size: 36px;
  color: #212121;
  margin-top: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.cards img {
  width: 270px;
  height: 260px;
}
.cards h3 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.cards p {
  font-size: 16px;
  color: #757575;
}
/* ---- ---- ---- FOOTER ---- ---- ----*/

.link-footer {
  color: var(--color-primario);
  text-decoration: none;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2218px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.address {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2258px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.mailto {
  color: black;
  text-decoration: none;
}
.mailto:hover {
  color: var(--color-primario);
}
.mailto:ctive {
  color: var(--color-primario);
}

.tel {
  color: black;
  text-decoration: none;
}
.tel:hover {
  color: var(--color-primario);
}
.tel:ctive {
  color: var(--color-primario);
}
